<!doctype html>
<html>
<head>
    <title>Twitter Api Handle</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <% if (!user) { %>
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Node Authentication</h1>
    
            <p>Login or Register with:</p>
    
            <a href="/login/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
    
        </div>
    <% } else { %>
        <p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
    <% } %>
</div>
<div class="container">
<h4>Routes information</h4>
<p>Past streams that were made: <a href="/streams/past">/streams/past</a>.</p>
<p>For making stream: <a href="/profile">/profile</a>.</p>
<p>All the users autheticated via this app: <a href="/user/auth">/user/auth</a>.</p>
<p>All users whose tweets are tracked: <a href="/user/tweets">/user/tweets</a>.</p>
<p>All users whose tweets are retweeted (if any): <a href="/user/retweets">/user/retweets</a>.</p>
</div>
</body>
</html>   